In [1]:
name = ['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay']
response = ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']

In [2]:
import pandas as pd 
df = pd.DataFrame({'Name': name,'Response': response})

In [3]:
df

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe
5    Akshay      Yes

In [4]:
df.Response = df.Response.apply(lambda x: x.lower())

In [5]:
df

       Name Response
0   Reetesh       no
1    Shruti    maybe
2  Kaustubh      yes
3     Vikas      yes
4    Mahima    maybe
5    Akshay      yes

In [8]:
response = ['Response']

In [10]:
df[response] = df[response].apply(lambda x: x.map({'yes' : 1.0, 'maybe': 0.5, 'no': 0.0 }))

In [11]:
df

       Name  Response
0   Reetesh       0.0
1    Shruti       0.5
2  Kaustubh       1.0
3     Vikas       1.0
4    Mahima       0.5
5    Akshay       1.0